In [1]:
import pandas as pd

In [37]:
bear_df1 = pd.read_csv('bear_attacks(kaggle).csv')

In [38]:
bear_df1.head()

,Date,Location,Details,Bear,Latitude,Longitude,Name,Age,Gender
0,"August 23, 2018","Lyon Inlet, Nunavut","Three men from Naujaat, whose boat had broken ...",Polar,66.534160,-83.882170,Darryl Kaunak,33,male
1,"July 3, 2018","Sentry Island, Nunavut",A polar bear approached a man and his children...,Polar,61.167230,-93.850150,Aaron Gibbons,31,male
2,"July 9, 1999","near Rankin Inlet, Nunavut",Amitnak was mauled after trying to distract a ...,Polar,62.808913,-92.087741,Hattie Amitnak,64,female
3,"December 8, 1990","Point Lay, Alaska","While Stalker was walking with his girlfriend,...",Polar,69.742800,-163.011250,Carl Stalker,28,male
4,"November 29, 1983","Churchill, Manitoba",Mutanen was attacked and dragged on a street i...,Polar,58.767755,-94.163998,Thomas Mutanen,46,male

In [39]:
bear_df1_dropped_coloumns = bear_df1.drop(['Details', 'Name', 'Age', 'Gender'], axis =1 )

In [40]:
black_brown_bears_df1 = bear_df1_dropped_coloumns[bear_df1_dropped_coloumns['Bear'] != 'Polar']

In [41]:
black_brown_bears_df1.head()

,Date,Location,Bear,Latitude,Longitude
7,"September 1, 2019","Red Pine Island, Ontario",Black,46.133400,-79.532930
8,"June 19, 2017","Pogo mine, Alaska",Black,64.808088,-151.004158
9,"June 18, 2017","Indian, Alaska",Black,60.986630,-149.512770
10,"May 10, 2015","near Mackenzie, British Columbia",Black,55.335752,-123.090103
11,"September 21, 2014","near West Milford, New Jersey",Black,41.134480,-74.367420

In [42]:
canadian_regions = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon']
df_bears1_canada = black_brown_bears_df1[black_brown_bears_df1['Location'].str.contains('|'.join(canadian_regions), case=False, na=False)]

In [43]:
df_bears1_canada.head()

,Date,Location,Bear,Latitude,Longitude
7,"September 1, 2019","Red Pine Island, Ontario",Black,46.133400,-79.532930
10,"May 10, 2015","near Mackenzie, British Columbia",Black,55.335752,-123.090103
12,"May 7, 2014","near Fort McMurray, Alberta",Black,56.720373,-111.362779
15,June 2011,"near Lillooet, British Columbia",Black,50.683333,-121.933330
17,"May 30, 2008","near La Sarre, Quebec",Black,48.807082,-79.204936

In [44]:
df_bears1_canada.to_excel('bear_attacks_canada1.xlsx', index=False)

In [45]:
bear_df2 = pd.read_csv('bear attacks 2 (kaggle).csv')

In [46]:
bear_df2.head()

,Name,age,gender,Date,Month,Year,Type,Location,Description,Type of bear,Hunter,Grizzly,Hikers,Only one killed,Latitude,Longitude
0,Mary Porterfield,3.0,female,19/05/1901,May,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0,38.864277,-79.556998
1,Wilie Porterfield,5.0,male,19/05/1901,May,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0,38.864277,-79.556998
2,Henry Porterfield,7.0,male,19/05/1901,May,1901,Wild,"Job, West Virginia",The children were gathering flowers near their...,Black bear,0,0,0,0,38.864277,-79.556998
3,John Dicht,18.0,male,24/11/1906,Nov,1906,Wild,"Elk County, Pennsylvania","Thinking the bear was dead, Dicht began skinni...",Black bear,0,0,0,1,41.437362,-78.626009
4,Baby Laird,1.0,NaN,05/10/1908,Oct,1908,Captive,"Tucson, Arizona",After a bear escaped from a cage at Elysian Gr...,Black bear,0,0,0,1,32.222876,-110.974847

In [47]:
bear_df2_dropped_coloumns = bear_df2.drop(['Name',' age','gender', 'Month', 'Year', 'Type', 'Description', 'Hunter','Grizzly','Hikers', 'Only one killed'], axis =1 )

In [48]:
bear_df2_dropped_coloumns.head()

         Date                  Location Type of bear   Latitude   Longitude
0  19/05/1901        Job, West Virginia   Black bear  38.864277  -79.556998
1  19/05/1901        Job, West Virginia   Black bear  38.864277  -79.556998
2  19/05/1901        Job, West Virginia   Black bear  38.864277  -79.556998
3  24/11/1906  Elk County, Pennsylvania   Black bear  41.437362  -78.626009
4  05/10/1908           Tucson, Arizona   Black bear  32.222876 -110.974847

In [49]:
black_brown_bears_df2 = bear_df2_dropped_coloumns[bear_df2_dropped_coloumns['Type of bear'] != 'Polar Bear']

In [50]:
canadian_regions = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', 'Northwest Territories', 'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Yukon']
df_bears2_canada = black_brown_bears_df2[black_brown_bears_df2['Location'].str.contains('|'.join(canadian_regions), case=False, na=False)]

In [51]:
df_bears2_canada.head()

,Date,Location,Type of bear,Latitude,Longitude
7,29/08/1929,"near Lac Du Bonnet, Manitoba",Black bear,NaN,NaN
8,12/09/1929,"Jasper National Park, Alberta",Brown bear,52.804103,-117.804827
12,01/10/1932,"near Dawson, Yukon",Brown bear,64.042736,-139.410565
33,12/08/1958,"Jasper National Park, Alberta",Black bear,52.804103,-117.804827
35,06/09/1959,"near Cadomin, Alberta",Black bear,NaN,NaN

In [52]:
df_bears2_canada.to_excel('bear_attacks_canada2.xlsx', index=False)

In [6]:
bear_pca_df3 = pd.read_csv('pca-human-wildlife-coexistence-animals-involved-detailed-records-2010-2023.csv', encoding='latin-1')

In [7]:
bear_pca_df3.head()

,Incident Number,Incident Date,Field Unit,Protected Heritage Area,Incident Type,Species Common Name,Sum of Number of Animals,Animal Health Status,Cause of Animal Health Status,Animal Behaviour,Reason for Animal Behaviour,Animal Attractant,Deterrents Used,Animal Response to Deterrents
0,BAN2010-0003,2010-01-01,Banff Field Unit,Banff National Park of Canada,Human Wildlife Interaction,Coyote,2,Healthy,NaN,Avoidance,Surprise,Prey animal (natural),Presence of Officer/Person,NaN
1,BAN2010-0003,2010-01-01,Banff Field Unit,Banff National Park of Canada,Human Wildlife Interaction,Elk,1,Dead,Predation,NaN,NaN,NaN,NaN,NaN
2,BAN2010-0003,2010-01-01,Banff Field Unit,Banff National Park of Canada,Human Wildlife Interaction,Wolf,3,Not Located,NaN,NaN,NaN,Prey animal (natural),NaN,NaN
3,JNP2010-0011,2010-01-01,Jasper Field Unit,Jasper National Park of Canada,Rescued/Recovered/Found Wildlife,White-tailed Deer,1,Dead,Collision,NaN,NaN,NaN,NaN,NaN
4,JNP2010-0015,2010-01-01,Jasper Field Unit,Jasper National Park of Canada,Attractant,NaN,0,NaN,NaN,NaN,NaN,Grain,NaN,NaN

In [8]:
bear_df3_dropped_coloumns = bear_pca_df3.drop(['Incident Number', 'Field Unit', 'Incident Type', 'Sum of Number of Animals', 'Animal Health Status', 'Cause of Animal Health Status', 'Animal Behaviour', 'Reason for Animal Behaviour', 'Animal Attractant', 'Deterrents Used','Animal Response to Deterrents' ], axis =1 )

In [9]:
bear_df3_dropped_coloumns.head()

  Incident Date         Protected Heritage Area Species Common Name
0    2010-01-01   Banff National Park of Canada              Coyote
1    2010-01-01   Banff National Park of Canada                 Elk
2    2010-01-01   Banff National Park of Canada                Wolf
3    2010-01-01  Jasper National Park of Canada   White-tailed Deer
4    2010-01-01  Jasper National Park of Canada                 NaN

In [10]:
black_brown_bears_df3 = bear_df3_dropped_coloumns[(bear_df3_dropped_coloumns['Species Common Name'] == 'Grizzly Bear') | (bear_df3_dropped_coloumns['Species Common Name'] == 'Black Bear')]

In [11]:
black_brown_bears_df3.head()

    Incident Date           Protected Heritage Area Species Common Name
48     2010-01-15  Kootenay National Park of Canada        Grizzly Bear
225    2010-03-26     Banff National Park of Canada        Grizzly Bear
229    2010-03-27     Banff National Park of Canada        Grizzly Bear
230    2010-03-27     Banff National Park of Canada        Grizzly Bear
246    2010-04-02     Banff National Park of Canada        Grizzly Bear

In [12]:
black_brown_bears_df3

,Incident Date,Protected Heritage Area,Species Common Name
48,2010-01-15,Kootenay National Park of Canada,Grizzly Bear
225,2010-03-26,Banff National Park of Canada,Grizzly Bear
229,2010-03-27,Banff National Park of Canada,Grizzly Bear
230,2010-03-27,Banff National Park of Canada,Grizzly Bear
246,2010-04-02,Banff National Park of Canada,Grizzly Bear
...,...,...,...
103050,2023-11-30,Pacific Rim National Park Reserve of Canada,Black Bear
103051,2023-11-30,Pacific Rim National Park Reserve of Canada,Black Bear
103166,2023-12-11,Pacific Rim National Park Reserve of Canada,Black Bear
103168,2023-12-11,Pacific Rim National Park Reserve of Canada,Black Bear
103219,2023-12-18,Pacific Rim National Park Reserve of Canada,Black Bear

In [13]:
black_brown_bears_df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43609 entries, 48 to 103219
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Incident Date            43609 non-null  object
 1   Protected Heritage Area  43609 non-null  object
 2   Species Common Name      43609 non-null  object
dtypes: object(3)
memory usage: 1.3+ MB

In [20]:
black_brown_bears_df3['Date'] = pd.to_datetime(black_brown_bears_df3['Incident Date'])

/var/folders/1l/n8_61g713fjd2_f8h0sw_m7w0000gn/T/ipykernel_91851/2223698593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  black_brown_bears_df3['Date'] = pd.to_datetime(black_brown_bears_df3['Incident Date'])

In [21]:
black_brown_bears_df3

,Incident Date,Protected Heritage Area,Species Common Name,Date
48,2010-01-15,Kootenay National Park of Canada,Grizzly Bear,2010-01-15
225,2010-03-26,Banff National Park of Canada,Grizzly Bear,2010-03-26
229,2010-03-27,Banff National Park of Canada,Grizzly Bear,2010-03-27
230,2010-03-27,Banff National Park of Canada,Grizzly Bear,2010-03-27
246,2010-04-02,Banff National Park of Canada,Grizzly Bear,2010-04-02
...,...,...,...,...
103050,2023-11-30,Pacific Rim National Park Reserve of Canada,Black Bear,2023-11-30
103051,2023-11-30,Pacific Rim National Park Reserve of Canada,Black Bear,2023-11-30
103166,2023-12-11,Pacific Rim National Park Reserve of Canada,Black Bear,2023-12-11
103168,2023-12-11,Pacific Rim National Park Reserve of Canada,Black Bear,2023-12-11
103219,2023-12-18,Pacific Rim National Park Reserve of Canada,Black Bear,2023-12-18

In [24]:
black_brown_bears_df3_datesorted = black_brown_bears_df3.drop(['Incident Date' ], axis =1 )

In [25]:
black_brown_bears_df3_datefiltered = black_brown_bears_df3_datesorted[black_brown_bears_df3_datesorted['Date'] >= '2000-01-01' ]

In [51]:
black_brown_bears_df3_datefiltered.head()

              Protected Heritage Area Species Common Name       Date
48   Kootenay National Park of Canada        Grizzly Bear 2010-01-15
225     Banff National Park of Canada        Grizzly Bear 2010-03-26
229     Banff National Park of Canada        Grizzly Bear 2010-03-27
230     Banff National Park of Canada        Grizzly Bear 2010-03-27
246     Banff National Park of Canada        Grizzly Bear 2010-04-02

In [28]:
black_brown_bears_df3_datefiltered.to_excel('parks_canada_bear_data.xlsx', index=False)

In [52]:
bear_pca_df3 = pd.read_excel('parks_canada_bear_data.xlsx')

In [50]:
#defining list of unique national parks in dataset with coordinates
heritage_sites = {
    "Kootenay National Park of Canada": (50.62, -116.07),
    "Banff National Park of Canada": (51.4968, -115.9281),
    "Glacier National Park of Canada": (48.7561, -113.7797),
    "Jasper National Park of Canada": (52.9734, -117.9543),
    "Yoho National Park of Canada": (51.5, -116.5),
    "Waterton Lakes National Park of Canada": (49.0944, -113.8616667),
    "La Mauricie National Park of Canada": (47.2958, -71.063358),
    "Prince Albert National Park of Canada": (53.9634521, -106.3698833),
    "Pacific Rim National Park Reserve of Canada": (48.98333, -125.66666),
    "Mount Revelstoke National Park of Canada": (51.1, -118.06667),
    "Riding Mountain National Park of Canada": (50.88333, -100.25),
    "Bruce Peninsula National Park of Canada": (45.23333, -81.6),
    "Wood Buffalo National Park of Canada": (60.2667976, -114.1678903),
    "Terra Nova National Park of Canada": (48.5305556, -53.9280555),
    "Forillon National Park of Canada": (48.9, -64.35),
    "Kouchibouguac National Park of Canada": (46.858333, -64.975),
    "Nahanni National Park Reserve of Canada": (61.6999533, -125.6850094),
    "Pukaskwa National Park of Canada": (48.25, -85.916667),
    "Georgian Bay Islands National Park of Canada": (44.883333, -79.86667),
    "Cape Breton Highlands National Park of Canada": (46.741667, -60.641667),
    "Kluane National Park and Reserve of Canada": (60.453515, -137.8291619),
    "Kejimkujik National Park and National Historic Site of Canada": (44.386111, -65.293056),
    "Saguenay-St. Lawrence Marine Park": (48.13333, -69.73333),
    "Gros Morne National Park of Canada": (49.6894444, -57.7380556),
    "Gwaii Haanas National Park Reserve, National Marine Conservation Area Reserve, and Haida Heritage Site": (53.378, -131.357),
    "Ivvavik National Park of Canada": (69.083333, -139.5),
    "Chilkoot Trail National Historic Site of Canada": (59.756944, -134.96111),
    "Gulf Islands National Park Reserve of Canada": (48.783333, -123.3),
    "Wapusk National Park of Canada": (57.773889, -93.371389),
    "Elk Island National Park of Canada": (53.6144444, -112.8661111),
    "Rideau Canal National Historic Site of Canada": (45.426389, -75.698055),
    "Mingan Archipelago National Park Reserve of Canada": (50.216667, -63.166667),
    "Ukkusiksalik National Park of Canada": (65.4986, -88.8953),
    "Fathom Five National Marine Park of Canada": (45.283333, -81.666667),
    "Thousand Islands National Park of Canada": (44.3525, -75.955),
    "Saoyú-ʔehdacho National Historic Site of Canada": (66.1, 122.15),
    "Fundy National Park of Canada": (45.616667, -65.0333333),
    "Rouge National Urban Park": (43.93289, -79.228794),
    "Rocky Mountain House National Historic Site of Canada": (52.369444, -114.96389),
    "Trent-Severn Waterway National Historic Site of Canada": (44.545833, -78.538889)
}

In [54]:
bear_pca_df3["Latitude"] = bear_pca_df3["Protected Heritage Area"].apply(
    lambda x: heritage_sites.get(x, (None, None))[0]
)
bear_pca_df3["Longitude"] = bear_pca_df3["Protected Heritage Area"].apply(
    lambda x: heritage_sites.get(x, (None, None))[1]
)

In [55]:
bear_pca_df3

,Protected Heritage Area,Species Common Name,Date,Latitude,Longitude
0,Kootenay National Park of Canada,Grizzly Bear,2010-01-15,50.62000,-116.07000
1,Banff National Park of Canada,Grizzly Bear,2010-03-26,51.49680,-115.92810
2,Banff National Park of Canada,Grizzly Bear,2010-03-27,51.49680,-115.92810
3,Banff National Park of Canada,Grizzly Bear,2010-03-27,51.49680,-115.92810
4,Banff National Park of Canada,Grizzly Bear,2010-04-02,51.49680,-115.92810
...,...,...,...,...,...
43604,Pacific Rim National Park Reserve of Canada,Black Bear,2023-11-30,48.98333,-125.66666
43605,Pacific Rim National Park Reserve of Canada,Black Bear,2023-11-30,48.98333,-125.66666
43606,Pacific Rim National Park Reserve of Canada,Black Bear,2023-12-11,48.98333,-125.66666
43607,Pacific Rim National Park Reserve of Canada,Black Bear,2023-12-11,48.98333,-125.66666
43608,Pacific Rim National Park Reserve of Canada,Black Bear,2023-12-18,48.98333,-125.66666

In [56]:
bear_pca_df3.to_excel('parks_canada_bear_data_Coordinates.xlsx', index=False)