In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [21]:
#Generating background data to use a controls (non-encounter data)
attack_df = pd.read_excel('bear_attack_processed_data_final_ver..xlsx')

latitude_min, latitude_max = attack_df['Latitude'].min(), attack_df['Latitude'].max()
longitude_min, longitude_max = attack_df['Longitude'].min(), attack_df['Longitude'].max()

print("latitude bounds:",latitude_min, latitude_max)
print("Longitude bounds",longitude_min, longitude_max)

#Number of non-encounter data points 
n_background = 43654

#Creating random coordinates 
background_lat = np.random.uniform(latitude_min, latitude_max, n_background)
background_lon = np.random.uniform (longitude_min, longitude_max, n_background)

#Creating random dates
start_date = pd.to_datetime('2000-01-01')
end_date = pd.to_datetime ('2025-01-01')
all_dates =pd.date_range(start = start_date,end=end_date)
random_dates = np.random.choice (all_dates, size= n_background, replace= True)
random_dates =pd.to_datetime(random_dates).normalize()

#Random species
species =np.random.choice(['Black Bear', 'Grizzly Bear'], size=n_background, p= [0.93, 0.07])


#Generating background non-encounter dataframe
background_data = pd.DataFrame({
    'Species Common Name': species,
    'Date': random_dates,
    'Latitude':background_lat,
    'Longitude': background_lon,
    'Attack': 0
    
})

background_data.head()

latitude bounds: 43.93289 69.083333
Longitude bounds -139.5 -53.9280555

  Species Common Name       Date   Latitude   Longitude  Attack
0          Black Bear 2006-10-24  68.674001  -76.052871       0
1          Black Bear 2016-02-04  55.806802  -93.102552       0
2          Black Bear 2018-01-11  64.120969 -112.593126       0
3          Black Bear 2012-10-22  48.495176  -77.469470       0
4        Grizzly Bear 2005-09-02  50.892246  -94.402227       0

In [24]:
#Combining non-encounter and encounter data 
#Attack = 0 means non-encounter, 1 means encounter 
full_df =pd.concat([attack_df, background_data], ignore_index=True)
full_df

      Species Common Name       Date   Latitude   Longitude  Attack
0            Grizzly Bear 2010-01-15  50.620000 -116.070000       1
1            Grizzly Bear 2010-03-26  51.496800 -115.928100       1
2            Grizzly Bear 2010-03-27  51.496800 -115.928100       1
3            Grizzly Bear 2010-03-27  51.496800 -115.928100       1
4            Grizzly Bear 2010-04-02  51.496800 -115.928100       1
...                   ...        ...        ...         ...     ...
87303          Black Bear 2007-09-07  59.889859 -127.642160       0
87304          Black Bear 2013-08-23  58.623904  -95.344536       0
87305          Black Bear 2019-03-11  44.051107  -75.105950       0
87306          Black Bear 2008-08-28  45.470304  -55.464775       0
87307          Black Bear 2007-04-07  63.263922  -62.385955       0

[87308 rows x 5 columns]